@import '@/assets/styles/vars.scss';
@import '@/assets/styles/components.scss';

.definePensionPage {
  margin-top: 25px;
  padding: 20px 70px;
  background-color: $colorTertiary;

  form {
    display: flex;
    flex-direction: column;
  }

  .formResult {
    border: 2px solid black;
    margin: 10px 0;
    padding: 10px;
    color: white;
    background-color: $colorPrimary;
  }

  .title {
    margin-top: 16px;
    text-align: center;
  }

  input, select {
    @include inputBase()
  }

  .section {
    display: flex;
    flex-direction: column;
  }

  .bigRow {
    display: flex;
    justify-content: space-between;

    &ColWide {
      flex-basis: 50%;
    }

    &ColNarrow {
      flex-basis: 25%;

      .imageWrapper {
        position: relative;
        width: 100%;
        height: 300px;

        img {
          position: absolute;
          object-fit: cover;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
        }
      }


      .buttonImageUpload {
        margin-top: 10px;
        width: 100%;
      }
    }
  }

  .fieldBlock {
    padding-top: 8px;
  }

  .flexEvenly {
    display: flex;
    justify-content: space-evenly;

    & > * {
      width: 40%;
    }
  }

  .flexBetween {
    display: flex;
    justify-content: space-evenly;

    & > * {
      width: 40%;
    }
  }

  .flexBetween {
    display: flex;
    justify-content: space-between;

    & > * {
      width: 40%;
    }
  }

  .row3 {
    display: flex;

    & > * {
      flex: 0 1 33.3333%;
    }
  }

  .row2 {
    display: flex;

    & > * {
      flex-basis: 50%;
    }
  }

  .textAlignCenter {
    text-align: center;
  }

  .buttonUnactive {
    background-color: white;

    &:hover {
      background-color: $colorSecondary;
    }
  }

  .buttonActive {
    background-color: $colorSecondaryDark;

    &:hover {
      background-color: $colorSecondaryDark;
    }
  }

  .buttonSubmit {
    margin-top: 16px;
    align-self: center;
    text-transform: uppercase;
  }


  .fileUploadSection {
    position: relative;
    display: flex;

    &Controlls {
      flex: 0 1 30%;

      & > * + * {
        margin-top: 16px;
      }

      button {
        width: 100%;
      }
    }

    label {
      display: block;
    }

    input {
      width: auto;
    }

    & > * + * {
      margin-left: 16px;
    }

    .loadProgress {
      text-align: center;
    }

    textarea {
      width: 100%;
      height: 150px;
      resize: none;
    }
  }

  .fileUploadInput {

    background-color: $colorSecondary;
    color: black;
    padding: 7px 20px;
    text-align: center;
    border: 0;
    cursor: pointer;

    user-select: none;

    &:hover {
      background-color: $colorSecondaryDark;
    }

    input {
      display: none;
    }

  }
}