@import 'vars.scss';
@import 'reset.scss';
@import 'fonts.scss';

body {
  background-color: $colorPrimary;
  font-family: 'Montserrat', serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}